@import "variables";

.profiletop {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;

  .pid {
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    font-size: MAX(2vh, 2vw);
    text-align: left;
    text-transform: uppercase;
    position: relative;
    margin: MAX(1vh, 1vw);
    width: 50%;
    background: $secondaryD;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;

      background-image: url(~/assets/textBG.png);
      background-size: auto 125%;
      background-position: 175% bottom;
    }
  }

  .timeline {
    width: 50%;
    margin: MAX(1vh, 1vw);
  }
}

.profileText {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: MAX(1.25vh, 1vw);
  text-align: justify;
  color: $secondaryB;
}

.certifications {
  background: linear-gradient(to right,
      rgba($secondaryD, 0.6),
      rgba($secondaryM, 0.6));
  border-radius: MIN(2vh, 2vw);
  padding: MIN(2vh, 2vw);
  margin: MIN(2vh, 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: MAX(1vh, 0.9vw);
  text-align: center;
  text-decoration: none;
  color: #fff;

  svg {
    width: MAX(3vh, 3vw);
    height: MAX(3vh, 3vw);
  }

  transition: all 0.75s ease;

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
}

@media all and (max-width: 768px) {
  .certifications {
    &:hover {
      transform: scale(1);
      filter: brightness(1);
    }
  }
}

@media all and (max-width: 768px) and (orientation: portrait) {
  .profiletop {
    flex-direction: column-reverse;

    .pid,
    .timeline {
      width: auto;
      background-position: center;
      text-align: center;
    }
  }
}