@import "variables";
@import "sidemenu";
@import "welcome";
@import "arrows";
@import "about";
@import "skills";
@import "projects";
@import "contact";

body {
  background-image: url(~/assets/pfbg.svg);
  background-size: 100vw 500vh;
  background-position: top;
}

.bodyPage {
  position: absolute;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  main {
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.mainArticle {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 80vw;
  left: 13.5vw;
}

::-webkit-scrollbar {
  width: 0px;
}

//particles

.particles {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    0% {
      opacity: 0;
    }

    10% {
      opacity: calc((random(40) + 40) / 100);
    }

    90% {
      opacity: calc((random(40) + 40) / 100);
    }

    100% {
      transform: translate3d((random(100) * 1vw),
          (random(100) * 1vh),
          (random(100) * 1px));
      opacity: 0;
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 40s infinite;
    $size: random(5) + 12 + px;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d((random(100) * 1vw),
        (random(100) * 1vh),
        (random(100) * 1px));
    // background: hsl(random(360), 70%, 50%);
    background-color: $secondaryL;
  }
}