@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.sidemenuContainer {
  background-color: rgba(16, 58, 105, 0.5);
  position: fixed;
  z-index: 10;
  height: 100vh;
}
.sidemenuContainer nav {
  height: 100%;
}
.sidemenuContainer nav ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 3;
  align-items: center;
}
.sidemenuContainer nav ul .currshadow {
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  transition: all 0.5s;
}
.sidemenuContainer nav ul .icon {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  cursor: pointer;
}
.sidemenuContainer nav ul .icon svg {
  width: min(5vh, 5vw);
  height: min(5vh, 5vw);
}
.sidemenuContainer nav ul .icon svg {
  transition: all 0.5s ease-in-out;
}
.sidemenuContainer nav ul .icon svg path,
.sidemenuContainer nav ul .icon svg circle {
  fill: rgba(255, 255, 255, 0.7) !important;
  transition: all 0.5s ease-in-out;
}
.sidemenuContainer nav ul .icon::after {
  content: "";
}
.sidemenuContainer nav ul .icon:hover svg {
  transform: scale(1.2);
}
.sidemenuContainer nav ul .icon:hover svg path,
.sidemenuContainer nav ul .icon:hover svg circle {
  fill: #9fc4ec !important;
}
.sidemenuContainer nav ul .icon.active svg {
  transform: scale(1.1);
}
.sidemenuContainer nav ul .icon.active svg path,
.sidemenuContainer nav ul .icon.active svg circle {
  fill: #103a69 !important;
}
.sidemenuContainer nav ul .text {
  position: absolute;
  z-index: 4;
  left: min(10vw, 10vh);
  opacity: 1;
  color: #103a69;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(4vh, 4vw);
  line-height: min(2vh, 2vw);
  padding: min(2vh, 2vw);
  background-color: rgba(159, 196, 236, 0.7);
  border-radius: 20px;
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
}

.fade-enter-active {
  animation: fadeIn 0.5s;
}

.fade-leave-active {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media all and (max-width: 768px) {
  .sidemenuContainer nav ul .currshadow,
  .sidemenuContainer nav ul .shadow,
  .sidemenuContainer nav ul .text {
    display: none;
  }
  .sidemenuContainer nav ul .icon svg path,
  .sidemenuContainer nav ul .icon svg circle {
    fill: #fff !important;
  }
  .sidemenuContainer nav ul .icon::after {
    content: "";
  }
  .sidemenuContainer nav ul .icon:hover svg {
    transform: scale(1);
  }
  .sidemenuContainer nav ul .icon:hover svg path,
  .sidemenuContainer nav ul .icon:hover svg circle {
    fill: #fff !important;
  }
  .sidemenuContainer nav ul .icon.active svg {
    transform: scale(1);
  }
  .sidemenuContainer nav ul .icon.active svg path,
  .sidemenuContainer nav ul .icon.active svg circle {
    fill: #fff !important;
  }
}
@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homePicContainer {
  position: relative;
  width: min(50vh, 50vw);
  height: min(50vh, 50vw);
}

.picBg {
  position: absolute;
  width: min(50vh, 50vw);
  height: min(50vh, 50vw);
}

.homePic {
  position: absolute;
  top: min(1vh, 1vw);
  left: min(1vh, 1vw);
  width: min(48vh, 48vw);
  height: min(48vh, 48vw);
}

.homeTitle {
  font-family: "Oxanium";
  font-size: min(5vh, 4vw);
  font-weight: 700;
  text-align: center;
  color: #fff;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.heroTitle {
  font-family: "Oxanium";
  font-size: min(5vh, 4vw);
  font-weight: 700;
  text-align: center;
  color: #fff;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-top: 40%;
  line-height: 120%;
}

.homeSubTitle {
  font-family: "Oxanium";
  font-size: min(4.5vh, 3.5vw);
  font-weight: 600;
  margin: min(2vh, 2vw) 0;
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}

.homeText {
  font-family: "Quicksand-Medium";
  font-weight: 600;
  font-size: min(2vh, 3vw);
  font-style: italic;
  line-height: 1.5;
  text-align: center;
  position: relative;
  z-index: 0;
  color: #fff;
}

@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.arrow p {
  margin: 0 0 20px;
  text-align: center;
  color: #2a156f;
  font-size: large;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #103a69;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #103a69;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.75;
}
polygon.arrow-top {
  opacity: 0.5;
}

@media all and (max-width: 768px) {
  #more-arrows polygon.arrow-bottom {
    transform: translateY(0);
  }
  #more-arrows polygon.arrow-top {
    transform: translateY(0);
  }
}
@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.profiletop {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profiletop .pid {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: max(2vh, 2vw);
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin: max(1vh, 1vw);
  width: 50%;
  background: #103a69;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  .profiletop .pid {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(~/assets/textBG.png);
    background-size: auto 125%;
    background-position: 175% bottom;
  }
}
.profiletop .timeline {
  width: 50%;
  margin: max(1vh, 1vw);
}

.profileText {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.25vh, 1vw);
  text-align: justify;
  color: #042245;
}

.certifications {
  background: linear-gradient(to right, rgba(16, 58, 105, 0.6), rgba(36, 84, 138, 0.6));
  border-radius: min(2vh, 2vw);
  padding: min(2vh, 2vw);
  margin: min(2vh, 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1vh, 0.9vw);
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.75s ease;
}
.certifications svg {
  width: max(3vh, 3vw);
  height: max(3vh, 3vw);
}
.certifications:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

@media all and (max-width: 768px) {
  .certifications:hover {
    transform: scale(1);
    filter: brightness(1);
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .profiletop {
    flex-direction: column-reverse;
  }
  .profiletop .pid,
  .profiletop .timeline {
    width: auto;
    background-position: center;
    text-align: center;
  }
}
@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.hiveElmnt, .skill {
  background: radial-gradient(rgba(16, 58, 105, 0.6), rgba(0, 0, 0, 0));
  border-radius: 50%;
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: min(2vh, 2vw);
  width: max(7.5vh, 6.5vw);
  height: max(7.5vh, 6.5vw);
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.25vh, 0.8vw);
  text-align: center;
  position: relative;
  z-index: 0;
  color: #fff;
  transition: all 0.75s ease;
}
.hiveElmnt:hover, .skill:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}
.hiveElmnt span, .skill span {
  width: max(3vh, 3vw);
  height: max(3vh, 3vw);
}
.hiveElmnt span svg, .skill span svg {
  width: 90%;
  height: 90%;
}

.hiveLine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hiveCont {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media all and (max-width: 768px) {
  .hiveElmnt:hover, .skill:hover {
    transform: scale(1);
    filter: brightness(1);
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .hiveCont {
    flex-direction: column;
  }
  .hiveLine {
    flex-direction: row;
  }
}
@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 97%;
}

.moreCodes {
  position: relative;
  text-align: center;
  font-family: "Quicksand-Medium";
  font-style: italic;
  font-weight: 500;
  font-size: max(1.25vh, 0.9vw);
  color: #042245;
}

.project {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.25vh, 0.9vw);
  line-height: max(1.25vh, 0.9vw);
  color: #2a156f;
  padding: max(0.5vw, 0.5vh) max(1vw, 1vh);
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border-radius: 10px;
}
.project:hover {
  color: #24548a;
  transform: scale(1.2);
}
.project.active {
  color: #103a69;
  transform: scale(1.1);
  background: linear-gradient(to right, rgba(155, 140, 204, 0.2), rgba(67, 42, 146, 0.2));
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
}

.pTable {
  background: linear-gradient(to right, rgba(16, 58, 105, 0.6), rgba(36, 84, 138, 0.6));
  border-radius: min(2vh, 2vw);
  height: 33vh;
}

.pItem, .pTitle {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.2vh, 0.8vw);
  text-align: justify;
  vertical-align: middle;
  line-height: 1.5;
  color: #fff;
  padding: min(1vh, 1vw);
  max-width: 50vw;
}
.pItem a, .pTitle a {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.2vh, 0.8vw);
  color: #fff;
}

.pTitle {
  font-weight: 700;
}

.pTop {
  padding-top: min(1.5vh, 1.5vw);
}

.pLeft {
  padding-left: min(3vh, 3vw);
}

.pDown {
  padding-bottom: min(1.5vh, 1.5vw);
}

.pRight {
  padding-right: min(4vh, 4vw);
}

.documentation {
  background: linear-gradient(to right, rgba(16, 58, 105, 0.6), rgba(36, 84, 138, 0.6));
  border-radius: min(2vh, 2vw);
  padding: min(2vh, 2vw);
  margin: min(2vh, 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1vh, 0.9vw);
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 0.75s ease;
}
.documentation svg {
  width: max(3vh, 3vw);
  height: max(3vh, 3vw);
}
.documentation:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.slidefade-enter-active {
  animation: slideFadeIn 0.5s;
}

.slidefade-leave-active {
  animation: slideFadeOut 0.5s;
}

@keyframes slideFadeIn {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}
@media all and (max-width: 768px) {
  .documentation:hover {
    transform: scale(1);
    filter: brightness(1);
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
  }
  .project {
    margin: 5px 0;
  }
  .pTop {
    padding-top: min(3vh, 3vw);
  }
  .pLeft {
    padding-left: min(4vh, 4vw);
  }
  .pDown {
    padding-bottom: min(3vh, 3vw);
  }
  .pRight {
    padding-right: min(4vh, 4vw);
  }
}
@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.contactElement {
  background: linear-gradient(to right, rgba(16, 58, 105, 0.6), rgba(36, 84, 138, 0.6));
  border-radius: min(2vh, 2vw);
  padding: min(2vh, 2vw);
  margin: min(2vh, 2vw);
  transition: all 0.75s ease;
}
.contactElement a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: max(1.27vh, 1vw);
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.contactElement a svg {
  width: max(3vh, 3vw);
  height: max(3vh, 3vw);
}
.contactElement:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

.contactContainer {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media all and (max-width: 768px) {
  .contactElement:hover {
    transform: scale(1);
    filter: brightness(1);
  }
}
@media all and (max-width: 768px) and (orientation: portrait) {
  .contactContainer {
    flex-direction: column;
  }
  .contactLine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .contactLine .contactElement {
    width: 18vw;
  }
}
body {
  background-image: url(~/assets/pfbg.svg);
  background-size: 100vw 500vh;
  background-position: top;
}

.bodyPage {
  position: absolute;
  scroll-behavior: smooth;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.bodyPage main {
  flex-grow: 1;
  overflow-y: scroll;
}

.mainArticle {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 80vw;
  left: 13.5vw;
}

::-webkit-scrollbar {
  width: 0px;
}

.particles {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.63;
  }
  100% {
    transform: translate3d(76vw, 74vh, 67px);
    opacity: 0;
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -0.2s;
  transform: translate3d(4vw, 39vh, 98px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.79;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    transform: translate3d(32vw, 52vh, 17px);
    opacity: 0;
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -0.4s;
  transform: translate3d(99vw, 39vh, 5px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-3 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.54;
  }
  90% {
    opacity: 0.43;
  }
  100% {
    transform: translate3d(36vw, 48vh, 41px);
    opacity: 0;
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -0.6s;
  transform: translate3d(40vw, 44vh, 10px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-4 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.57;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    transform: translate3d(14vw, 53vh, 57px);
    opacity: 0;
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 40s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -0.8s;
  transform: translate3d(43vw, 54vh, 66px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-5 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.47;
  }
  90% {
    opacity: 0.55;
  }
  100% {
    transform: translate3d(100vw, 36vh, 60px);
    opacity: 0;
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -1s;
  transform: translate3d(87vw, 58vh, 98px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-6 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.44;
  }
  90% {
    opacity: 0.76;
  }
  100% {
    transform: translate3d(79vw, 86vh, 48px);
    opacity: 0;
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -1.2s;
  transform: translate3d(38vw, 33vh, 36px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-7 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.73;
  }
  90% {
    opacity: 0.54;
  }
  100% {
    transform: translate3d(56vw, 28vh, 77px);
    opacity: 0;
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -1.4s;
  transform: translate3d(78vw, 53vh, 18px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-8 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.65;
  }
  90% {
    opacity: 0.71;
  }
  100% {
    transform: translate3d(23vw, 67vh, 37px);
    opacity: 0;
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 40s infinite;
  height: 17px;
  width: 17px;
  animation-delay: -1.6s;
  transform: translate3d(56vw, 49vh, 73px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-9 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.69;
  }
  90% {
    opacity: 0.49;
  }
  100% {
    transform: translate3d(47vw, 47vh, 68px);
    opacity: 0;
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 40s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -1.8s;
  transform: translate3d(71vw, 12vh, 96px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-10 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.41;
  }
  100% {
    transform: translate3d(28vw, 32vh, 18px);
    opacity: 0;
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -2s;
  transform: translate3d(73vw, 79vh, 14px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-11 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.56;
  }
  90% {
    opacity: 0.44;
  }
  100% {
    transform: translate3d(98vw, 14vh, 3px);
    opacity: 0;
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -2.2s;
  transform: translate3d(95vw, 7vh, 74px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-12 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.63;
  }
  90% {
    opacity: 0.63;
  }
  100% {
    transform: translate3d(10vw, 37vh, 42px);
    opacity: 0;
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 40s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -2.4s;
  transform: translate3d(27vw, 59vh, 83px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-13 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.72;
  }
  90% {
    opacity: 0.62;
  }
  100% {
    transform: translate3d(4vw, 61vh, 45px);
    opacity: 0;
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -2.6s;
  transform: translate3d(81vw, 68vh, 46px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-14 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.43;
  }
  90% {
    opacity: 0.6;
  }
  100% {
    transform: translate3d(50vw, 59vh, 9px);
    opacity: 0;
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 40s infinite;
  height: 17px;
  width: 17px;
  animation-delay: -2.8s;
  transform: translate3d(87vw, 78vh, 7px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-15 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.45;
  }
  90% {
    opacity: 0.52;
  }
  100% {
    transform: translate3d(99vw, 98vh, 77px);
    opacity: 0;
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -3s;
  transform: translate3d(87vw, 33vh, 73px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-16 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.63;
  }
  90% {
    opacity: 0.71;
  }
  100% {
    transform: translate3d(52vw, 51vh, 52px);
    opacity: 0;
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -3.2s;
  transform: translate3d(30vw, 92vh, 22px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-17 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.44;
  }
  90% {
    opacity: 0.53;
  }
  100% {
    transform: translate3d(29vw, 4vh, 74px);
    opacity: 0;
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 40s infinite;
  height: 17px;
  width: 17px;
  animation-delay: -3.4s;
  transform: translate3d(27vw, 17vh, 63px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-18 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.67;
  }
  90% {
    opacity: 0.52;
  }
  100% {
    transform: translate3d(30vw, 38vh, 23px);
    opacity: 0;
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -3.6s;
  transform: translate3d(66vw, 86vh, 64px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-19 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.42;
  }
  90% {
    opacity: 0.53;
  }
  100% {
    transform: translate3d(73vw, 35vh, 14px);
    opacity: 0;
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -3.8s;
  transform: translate3d(27vw, 67vh, 28px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-20 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.64;
  }
  90% {
    opacity: 0.77;
  }
  100% {
    transform: translate3d(94vw, 36vh, 39px);
    opacity: 0;
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -4s;
  transform: translate3d(42vw, 37vh, 1px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-21 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.52;
  }
  90% {
    opacity: 0.59;
  }
  100% {
    transform: translate3d(76vw, 46vh, 42px);
    opacity: 0;
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 40s infinite;
  height: 17px;
  width: 17px;
  animation-delay: -4.2s;
  transform: translate3d(36vw, 20vh, 50px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-22 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.68;
  }
  100% {
    transform: translate3d(21vw, 88vh, 60px);
    opacity: 0;
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 40s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -4.4s;
  transform: translate3d(18vw, 90vh, 46px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-23 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.48;
  }
  100% {
    transform: translate3d(94vw, 14vh, 21px);
    opacity: 0;
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -4.6s;
  transform: translate3d(76vw, 91vh, 2px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-24 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.72;
  }
  90% {
    opacity: 0.61;
  }
  100% {
    transform: translate3d(6vw, 13vh, 11px);
    opacity: 0;
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -4.8s;
  transform: translate3d(84vw, 49vh, 27px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-25 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.63;
  }
  90% {
    opacity: 0.53;
  }
  100% {
    transform: translate3d(78vw, 2vh, 35px);
    opacity: 0;
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 40s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -5s;
  transform: translate3d(19vw, 83vh, 6px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-26 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.76;
  }
  90% {
    opacity: 0.72;
  }
  100% {
    transform: translate3d(53vw, 88vh, 21px);
    opacity: 0;
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 40s infinite;
  height: 17px;
  width: 17px;
  animation-delay: -5.2s;
  transform: translate3d(99vw, 74vh, 7px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-27 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.67;
  }
  90% {
    opacity: 0.54;
  }
  100% {
    transform: translate3d(14vw, 51vh, 64px);
    opacity: 0;
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 40s infinite;
  height: 16px;
  width: 16px;
  animation-delay: -5.4s;
  transform: translate3d(23vw, 59vh, 17px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-28 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.71;
  }
  90% {
    opacity: 0.61;
  }
  100% {
    transform: translate3d(89vw, 71vh, 69px);
    opacity: 0;
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -5.6s;
  transform: translate3d(3vw, 66vh, 71px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-29 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.46;
  }
  90% {
    opacity: 0.42;
  }
  100% {
    transform: translate3d(80vw, 92vh, 83px);
    opacity: 0;
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 40s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -5.8s;
  transform: translate3d(52vw, 24vh, 65px);
  background-color: #9fc4ec;
}

@keyframes particle-animation-30 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.78;
  }
  90% {
    opacity: 0.79;
  }
  100% {
    transform: translate3d(52vw, 68vh, 94px);
    opacity: 0;
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 40s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -6s;
  transform: translate3d(26vw, 27vh, 22px);
  background-color: #9fc4ec;
}/*# sourceMappingURL=main.css.map */