@font-face {
  font-family: Oxanium;
  src: url("~/assets/fonts/Oxanium-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Light;
  src: url("~/assets/fonts/Quicksand-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("~/assets/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("~/assets/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("~/assets/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("~/assets/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: Rubik-SemiBold;
  src: url("~/assets/fonts/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Rubik-Black;
  src: url("~/assets/fonts/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(6vh, 6vw);
  text-align: center;
  color: #fff;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(to right, rgba(16, 58, 105, 0.8), rgba(36, 84, 138, 0.8));
  border-radius: max(2vh, 2vw);
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
  padding: min(2vh, 2vw) min(3vh, 3vw);
  margin: min(3vh, 3vw);
  position: relative;
  display: inline-block;
  width: auto;
}

.text {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-size: min(2vh, 2vw);
  text-align: justify;
  position: relative;
  z-index: 0;
  color: #2a156f;
}

.sidemenuContainer {
  background-color: rgba(16, 58, 105, 0.5);
  position: fixed;
  z-index: 10;
  height: 100vh;
}
.sidemenuContainer nav {
  height: 100%;
}
.sidemenuContainer nav ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 3;
  align-items: center;
}
.sidemenuContainer nav ul .currshadow {
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: 10vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
  transition: all 0.5s;
}
.sidemenuContainer nav ul .icon {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
  cursor: pointer;
}
.sidemenuContainer nav ul .icon svg {
  width: min(5vh, 5vw);
  height: min(5vh, 5vw);
}
.sidemenuContainer nav ul .icon svg {
  transition: all 0.5s ease-in-out;
}
.sidemenuContainer nav ul .icon svg path,
.sidemenuContainer nav ul .icon svg circle {
  fill: rgba(255, 255, 255, 0.7) !important;
  transition: all 0.5s ease-in-out;
}
.sidemenuContainer nav ul .icon::after {
  content: "";
}
.sidemenuContainer nav ul .icon:hover svg {
  transform: scale(1.2);
}
.sidemenuContainer nav ul .icon:hover svg path,
.sidemenuContainer nav ul .icon:hover svg circle {
  fill: #9fc4ec !important;
}
.sidemenuContainer nav ul .icon.active svg {
  transform: scale(1.1);
}
.sidemenuContainer nav ul .icon.active svg path,
.sidemenuContainer nav ul .icon.active svg circle {
  fill: #103a69 !important;
}
.sidemenuContainer nav ul .text {
  position: absolute;
  z-index: 4;
  left: min(10vw, 10vh);
  opacity: 1;
  color: #103a69;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: min(4vh, 4vw);
  line-height: min(2vh, 2vw);
  padding: min(2vh, 2vw);
  background-color: rgba(159, 196, 236, 0.7);
  border-radius: 20px;
  box-shadow: 2px 2px 7px -2px rgba(0, 0, 0, 0.5);
}

.fade-enter-active {
  animation: fadeIn 0.5s;
}

.fade-leave-active {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (hover: none) and (pointer: coarse) {
  .sidemenuContainer nav ul .currshadow,
  .sidemenuContainer nav ul .shadow,
  .sidemenuContainer nav ul .text {
    display: none;
  }
  .sidemenuContainer nav ul .icon svg path,
  .sidemenuContainer nav ul .icon svg circle {
    fill: #fff !important;
  }
  .sidemenuContainer nav ul .icon::after {
    content: "";
  }
  .sidemenuContainer nav ul .icon:hover svg {
    transform: scale(1);
  }
  .sidemenuContainer nav ul .icon:hover svg path,
  .sidemenuContainer nav ul .icon:hover svg circle {
    fill: #fff !important;
  }
  .sidemenuContainer nav ul .icon.active svg {
    transform: scale(1);
  }
  .sidemenuContainer nav ul .icon.active svg path,
  .sidemenuContainer nav ul .icon.active svg circle {
    fill: #fff !important;
  }
}/*# sourceMappingURL=sidemenu.css.map */